#modal-body {
	padding-bottom:0px;
}
.q {
	width:30px;
	padding:5px;
	margin:10px;
}
.question {
	margin-left:20px;
}
#error {
	float:left;
	display:inline;
	color:black;
}
#exam_container {
	background-color:#2f2c29;
	height:100%;
	margin-top:10px;
}
#part1 {
	color:black;
	background-color:#eaeae3;
	width:700px;
	height:100%;
	padding:40px;
	border-radius:8px;
}

#part1 h1 {
	font-weight:100;
	padding-bottom:20px;
	margin-left:-2px;
}
#part1 h2 {
	color:gray;
	font-size:.55em;
	letter-spacing:2px;
	padding-bottom:0;
	cursor:context-menu;
}
#part1 hr {
	margin-top:-3px;
	border-color:gray;
}
.chart {

	margin:5px;
}
.chart rect {
  /*fill: steelblue;*/
}

.chart text {
  font-size:.6em;
  fill: white;
}

.chart text.name {
  fill: #000;
}
#prof_selector h2:hover {
	font-weight:bold;
}
#prof_selector {
	height:50px;
}
.prof_select {
	float:left;
	margin-right:100px;
}
.selected {
	font-weight:bold;
	color:black;
}
td, th {
	padding-left:10px;
}
td:nth-child(1), th:nth-child(1){  
  padding-left:10px;
}
th:nth-child(1) {
	border-radius:10px 0 0 0 ;
}
.right {
	float:right;
}
.left {
	float:left;
}
.score {
	display:none;
}
table {
	background-color:white;
	padding:0px;
	border: solid #ccc 1px;
	border-radius: 10px;
	box-shadow:0 1px 1px #ccc;
	border-spacing:0 !important;
	width:100%;
	display:table;
	border-collapse:separate !important;

}
td, th {
	font-size:.6em;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	border:.5px solid #ccc;
}
thead tr {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9d49d+0,feb645+100 */
background: #f9d49d; /* Old browsers */
background: -moz-linear-gradient(top, #f9d49d 0%, #feb645 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9d49d 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9d49d 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d49d', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}
tbody td {
	text-align:right;
}
tbody td:nth-child(1) {
	text-align:left;
}

th:nth-last-child(1) {
	border-radius:0 10px 0 0;
}
tr:last-child td:nth-child(1){
	border-radius:0 0 0 10px;
}
tr:last-child td:nth-last-child(1) {
	border-radius:0 0 10px 0;
}
.y {
	background-image:url("images/tick.png");
	background-size:25px 25px;
	background-repeat:no-repeat;
	background-position:80% 50%;
}
#course_report {
	width:150px;
	margin:20px;
}
.glyphicon {
	font-size:1.3em;
	top:5px;
	padding-right:5px;
}
.exam-report {
	border-radius:20px;
	float:right;
	width:100px;
	border:1px solid gray;
}
.exam-icon {
	font-size:2em !important;
	color:#f759d2;
	top:-10px;
}
.exam-btn-text {
	margin-top:-10px;
}
