body {
	background-color:#231F20;
	margin:0 auto;
    padding: 0px;
	font-family: 'Lato', sans-serif;
	letter-spacing:.8px;

}
#wrapper {
	width:100%;
	margin:0;
	padding:0;
}
#header_wrapper {
	width:1200px;
	text-align:center;
	position:relative;
	height:500px;
}
.head h1, h2, h3, h4{
	color:white;
	font-family: "Lato", Arial, sans-serif;
}
img {
	height:300px;
}
.row {
	margin:0 auto;
	text-align:center;
}
.head {
	top:50%;
	height:100px;
	text-align:left;
}
#logo_wrapper {
	width:100%;
}
#content_wrapper {
	top:10%;
	width:500px;
	margin-top:-50px;
	text-align:center;
	margin-left:20%;
}
#content_wrapper h2 {
	color:#8BC63E;
}
#content_wrapper p {
	color:white;
}
#h3 {
	margin-left:150px;
	color:white;
}
#signup {
	color:#EE3E35;
}
#login_wrapper {
	height:400px;
	padding-top:50px;
	background-color:#231F20;
}
input {
	font-family:"Lato", sans-serif;
	width:300px;
	margin:30px;
	padding:5px;
	border-radius:5px;
}
.submit {
	font-weight:bold;
}

.submit:hover {
	background: -webkit-radial-gradient(#f2f9f5 0, #cccecd 99%, #cccecd 100%), rgb(255, 255, 255);
  background: -moz-radial-gradient(#f2f9f5 0, #cccecd 99%, #cccecd 100%), rgb(255, 255, 255);
  background: radial-gradient(#f2f9f5 0, #cccecd 99%, #cccecd 100%), rgb(255, 255, 255);
}

#signup:hover {
	cursor:pointer;
	text-decoration:underline;
	border:none;
}
#forgot {
	margin-left:100px;
	color:white;
}
#forgot:hover {
	cursor:pointer;
	text-decoration:underline;
}
#header_top {
	position: fixed;
	text-align:left;
	width:100%;
	height:120px;
	overflow:hidden;
}
#header_top img {
	margin-left:-25px;
	height:140px;
	margin-top:-15px;
}
#content_body {
	background-color:#1A1A1A;
	width:100%;
	position:fixed;
	top:190px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow-y:auto;
	overflow-x:hidden;
}
.col-md-2 {
	position:fixed;
	top:190px;
	bottom:0px;
	background-color:#2B2A2A;
	color:white;
	overflow-y:auto;
	overflow-x:hidden;
}
#main {
	left: 17%;
	position:absolute;
	background-color:#1A1A1A;
	color:white;
}
.modal-content p, h4, h3, h2{
	color:black;
	font-family: 'Lato', sans-serif;
}
.modal-content h2 {
	color:white;
}
.modal-content {
	background-color:#d6d6d6;
	border:1px solid gray;
}
.modal-body {
    border:gray;
    padding:40px;
    text-align:left;
}
.modal-body img {
	height:160px;
	width:480px;
	padding:30px;
}
.modal-body input {
	font-weight:700;
}
.modal-header {

	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #666666 0%, #595250 0%, #261d00 100%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#666666 0%,#595250 0%,#261d00 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4c4c4c 0%,#666666 0%,#595250 0%,#261d00 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */*/
}
.btn-success {
	background-color:gray;
}
#signup_wrapper {
	width:500px;
	text-align:left;
	margin-left:-10%;
	margin-top:-30px;
}
#signup_wrapper h1 {
	color:#2fd846;
	font-size:3em;
}
#signup_wrapper p {
	color: white;
	font-size:1.3em;
}
#signup_input input {
	margin:10px;
	width:365px;
	padding:8px;
}
#first, #last {
	width:170px !important;
}
.btn-default {
	width:365px;
	margin-left:10px;
	text-align:left;
	padding:8px;
	margin-bottom:8px;
	height:40px;
}
.modal-close {
	width:71px;
	margin:0px;
	height:35px;
	text-align:center;
	padding:0;
}
#signup_submit {
	background-color:#37c435;
	font-weight:bold;
	color:white;
}
.dropdown-menu {
	margin-left:10px;
	width:365px;
	margin-top:-8px;
}
.login {
	color:#EE3E35;
}
.login:hover {
	cursor:pointer;
	text-decoration:underline;
	color:#EE3E35;
}
#navbar {
	position:fixed;
	top:120px;
	width:100%;
	height:70px;
/* IE10+ */ 
background-image: -ms-linear-gradient(bottom, #505052 0%, #9E9E9E 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #505052 0%, #9E9E9E 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #505052 0%, #9E9E9E 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505052), color-stop(100, #9E9E9E));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #505052 0%, #9E9E9E 100%);

/* W3C Markup */ 
background-image: linear-gradient(to top, #505052 0%, #9E9E9E 100%);
}
#user_banner {
	text-align:left;
	height:70px;
	width:400px;
	background-image: url("images/user_banner.gif");
	background-repeat:no-repeat;
	background-size: 90px 50px;
	background-position: 0% 40%;
	margin-top:0px;
	padding:10px;
}
#user_banner img {
	height:60px;
	width:100px;
	margin-top:5px;
}
#user_settings {
	height:29px;
	background-color:#333333;
	margin-top:10px;
	margin-left:60px;
	border-radius:0px 10px 10px 0px;
	color:white;
	padding-right:25px;
	padding-top:5px;
	font-family: 'Lato', sans-serif;
	font-size:1.2em;
	display:table;
}
#user_settings:hover {
	background-color:#494949;
	cursor:pointer;
	box-shadow: 3px 3px 1px #888888;
}

#logout {
	height:29px;
	background-color:#333333;
	border-radius:10px 10px 10px 10px;
	color:white;
	font-family: 'Lato', sans-serif;
	font-size:1.2em;
    position:absolute;
    top: 22.5px;
    right: 20px;
}

#logout:hover {
	background-color:#494949;
	cursor:pointer;
}

#courses {
	background-color:#23211f;
	text-align:left;
	padding:0px;
}
#courses h2 {
	font-size:1.1em;
	color:#b3b3b3;
	padding:10px;
}
.course, .exam {
	height:32px;
	width:100%;
	color:gray;
	padding:4px;
	margin-bottom:10px;
}
.course p,.exam p {
	font-size:1.2em;
	margin-left:40px;
}
.course.curr {
	border-left:thick solid #fbb03b;
	color:white;
}
.exam.curr {
	border-left:thick solid #8BC63E;
	color:white;
}
.course.unselected, .exam.unselected {
	padding-left:10px;
	color:gray;
	font-size:1.2em;
	margin-left:40px;
}
.course.unselected:hover, .exam.unselected:hover {
	color:white;
	cursor: pointer;
	cursor:hand;
}
.new_exam {
	height:50px;
	background-image:url("images/new_button.gif");
	background-size:80px 50px;
	background-repeat:no-repeat;
	padding:10px;
}
.new_exam p {
	margin-left:70px;
	font-size:1.2em;
	color:#999999;
}
#new_exam img {
	height:50px;
	width:70px;
	color:white;
}
.new_exam:hover p{
	cursor:default;
	color:white;
}
.new_exam:hover {
	background-image:url("images/new_button_2.gif");
}
#main_content {
	text-align:left;
	margin-top:50px;
    margin-bottom:50px;
	margin-left:70px;
	font-size:2em;
	color:#9b9393;
}
#questions {
	display:none;
}
#part3 .empty {
	color:gray;
	font-size:.6em;
}
.modal-content h2 {
	text-align:left;
}
.category_row {
	padding:10px;
}
.category_name {
    display: inline-block;
    border-radius: 15px;
    font-size: .6em;
    padding: 10px;
    background-color: #4D4D4D;
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    border:2px solid #b2b2b2;
}
.category_score {
    display: inline-block;
    margin-left: 150px;
    min-width: 200px;
    background-color: green;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    font-size: .6em;
    text-align: center;
    font-weight: bold;
    color: #4D4D4D;
}
.more {
    padding: 4px 15px 8px 15px;
    background-color: #4D4D4D;
    border-radius: 15px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-left: 10px;
    font-size:.8em;
    color:white;
    font-weight:bold;
}
.more:hover {
	background-color:white;
	color: #4D4D4D;
	cursor:pointer;
	cursor:hand;
}
.studyTips {
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: .5em;
    border-radius: 15px;
}
#subcats input {
	margin:0px;
}
#subcats td {
	padding-top:10px;
}
#uploadCategory .modal-content {
	width:800px;
}
#categoryErrorDiv {
	padding-top:20px;
	color:red;
}
#newExamError {
	padding:10px;
	color:red;
}
#newSubCat {
	padding-left:10px;
}
.prof_select h2:hover {
	cursor:hand;
	cursor:pointer;
}