<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>

    <link rel="stylesheet" href="styles.css">
    <title>Bloom Sign Up</title>

  </head>
  <body>
  	<div class="container">
    <div class="row" id="header_wrapper">
    <div class="col-md-6 head" id="signup_input">
      <div class="dropdown">
        <button id="button" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">I am a...</button>
        <ul class="dropdown-menu">
          <li><a href="#" class="s">Student</a></li>
          <li><a href="#" class="s">Professor</a></li>
        </ul>
      </div>
      <form id="sign" action="/signUp" method="POST">
        <input type="hidden" name="type" id="utype">
        <input type="text" name="first_name" id="first" placeholder="First Name">
        <input type="text" name="last_name" id="last" placeholder="Last Name">
        <input type="text" name="email" id="email" placeholder="Email address">
        <input type="text" name="banner_id" id="bid" placeholder="Banner ID">
        <input type="password" name="pass" id="p1" placeholder="Password">
        <input type="password" name="pass2" id="p2" placeholder="Retype Password">
        <div id="alert" style="color:red;">{{alert}}</div>
        <input type="submit" id="signup_submit" value="SIGN UP">
      </form>
    </div>
    <div class="col-md-6 head" id="signup_wrapper">
      <h1>Sign Up</h1>
      <p>Already a user? <a class="login" href="/">Log In!</a></p>
    </div>
    </div>
    
    </div>

    <script>
      var typeChosen = false;
      var bidValid = false;
      var passwordValid = false;
      var passVerified = false;
      var emailVerified = false;

      $('.s').on('click', function() {
        $('#button').html('I am a '+$(this).text());
        typeChosen = true;
      });

      // Banner ID validation. add UI response
      $('#bid').keyup(function() {
        var id = $('#bid').val();
        if (id.length == 9) {
          if (id.substring(0, 3) == "B00" && !isNaN(id.substring(1))) {
            bidValid = true;
          }
        }
      });

      // checks if password has number, capital, lowercase. add UI response
      $('#p1').keyup(function() {
        var pass = $('#p1').val();
        var matches = pass.match(/\d+/g);
        if (pass.toUpperCase() != pass && pass.toLowerCase() != pass && matches != null) {
          passwordValid =true;
        }
      });

      // checks if second password is same as first. add UI response
      $('#p2').keyup(function() {
        var pass1 = $('#p1').val();
        var pass2 = $('#p2').val();
        if (pass1 == pass2) {
          passVerified = true;
        }
      });

      $('#email').keyup(function() {
        var email = $('#email').val();
        if (email.length > 10 && email.substr(email.length - 10) == "@brown.edu") {
          emailVerified = true;
        }
      });

      $("#signup_submit").on('click', function(e) {
        $("#alert").empty();
        e.preventDefault();

        var t = $("#button").html().substring(7);
        var fname = $("#first").val();
        var lname = $("#last").val();
        var e = $("#email").val();
        var bid = $("#bid").val();
        var pw = $("#p1").val();

        if (typeChosen && bidValid && passwordValid && passVerified && fname != "" && lname != "" && e != "") {
          var hashed = CryptoJS.MD5(pw).toString();
          $("#p1").val(hashed);
          $("#utype").val(t);
          $("#sign")[0].submit();
        } else {
          $("#alert").text("Please check if all fields are valid!!");
        }
        
      });
    </script>
  </body>
</html>