<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/styles.css"></link>
    <title>Bloom</title>
  </head>
  <body>
  	<div class="container">
    <div class="row" id="header_wrapper">
    <div class="col-md-6 head" id="signup_input">
      <div class="dropdown">
        <button id="button" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">I am a...</button>
        <ul class="dropdown-menu">
          <li><a href="#" class="s">Student</a></li>
          <li><a href="#" class="s">Professor</a></li>
          <li><a href="#" class="s">Teaching Assistant</a></li>
        </ul>
      </div>
      <input type="text" name="first_name" id="first" placeholder="First Name">
      <input type="text" name="last_name" id="last" placeholder="Last Name">
      <input type="text" name="email" placeholder="Email address">
      <input type="text" name="banner_id" placeholder="Banner ID">
      <input type="password" name="pass" placeholder="Password">
      <input type="password" name="pass2" placeholder="Retype Password">
      <input type="submit" name="submit" id="signup_submit" value="SIGN UP">
    </div>
    <div class="col-md-6 head" id="signup_wrapper">
      <h1>Sign Up</h1>
      <p>Already a user? <a class="login" href="index.html">Log In!</a></p>
    </div>
    </div>
    
    </div>
  	</div>

    <script>
      $('.s').on('click', function() {
        $('#button').html('I am a '+$(this).text());
      });
    </script>
  </body>
</html>