<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="course_id" content="{{course.0._id}}">
    <meta name="user_id" content="{{user._id}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      
    <script src="upload.js"></script>
    <script src="upload_scores.js"></script>
    <script src="chart.js"></script>

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="student_styles.css">


    <title>Professor Dashboard</title>
  </head>
  <body>

    <div class="container" id="wrapper">
    <div class="row" id="header_top">
      <img src="images/bloom_logo.png" alt="">
    </div>
    <div class="row" id="navbar">
      <div id="user_banner">
        <div id="user_settings">
        Hi, {{user.name}}
        </div>
        <button id="logout" type="button" onclick="location.href = '';">Logout</button>
      </div>
    <div class="row" id="content_body">
      <div class="col-md-2" id="courses">
        <h2>COURSES</h2>
        <div id="course_list">
        {{#course}}
          {{#first}}
          <div class="curr course">
          <p>{{_id}}</p>
          </div>
          {{/first}}
          {{#other}}
          <p class='unselected course'>{{_id}}</p>
          {{/other}}
        {{/course}}
        </div>
        <div class="new_exam" data-toggle="modal" data-target="#newCourse">
          <p>New Course</p>
        </div>
        <div id="exam_container">
        <h2>EXAMS</h2>
        <div id="exam_list">
        </div>
        <div class="new_exam" data-toggle="modal" data-target="#myModal">
          <p>New Exam</p>
        </div>
        </div>
      </div>
      <div class="col-md-10" id="main">
        <div id="main_content">
        <div id="part1">
        <h1>{{course.0.title}}</h1>
        <div id="prof_selector">
          <div class="prof_select"><h2 class="selected" id="select_1">STUDENTS</h2></div>
          <div class="prof_select"><h2 id="select_2">EXAMS</h2></div>

        </div>
        <hr style="color:gray">

        <div id="part2">

        </div>

        <div id="part3">
        </div>
        </div>

        </div>
      </div>
    </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h2 class="modal-title">Add New Exam
        <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button></h2>
        
      </div>
      <div class="modal-body">
        <p>1. Enter the Exam Title:</p>
        <input type="text" name="exam" placeholder="e.g. Midterm 1" id="title"><br>
        <p>2. Upload a csv file in the following format:</p>
        <img src="images/categories.png" alt="">
        <input type="file" name="file" id="categories">
      </div>
      <div class="modal-footer">
        <div id="modal-alert"></div>
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="upload" type="button" class="btn btn-success">Upload</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="newExam1" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h2 class="modal-title">Add New Exam
        <button type="button" style="color:white;" class="close closebut" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></h2>
        
      </div>
      <div class="modal-body">
      	<p id="submitLine">Submit your scores:</p>
        <div id="questions">
        
        </div>
        </div>



        <div class="modal-footer">
        <div id="error"></div>
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="submit" type="button" class="btn btn-success">Submit</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="newCourse" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h2 class="modal-title">Add New Course
        <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button></h2>
        
      </div>
      <div class="modal-body">
        <p>1. Enter the Course ID:</p>
        <input type="text" id="course-id" placeholder="e.g. CSCI1230"><br>
        <p>2. Enter the Course Title:</p>
        <input type="text" id="course-title" placeholder="e.g. Creating Modern Web Apps"><br>
        <p>3. Enter the Semester Level:</p>
        <input type="text" id="semester-level" placeholder="e.g. Fall 2016"><br>
        <p>4. Upload a csv file in the following format:</p>
        <img src="images/categories.png" alt="">
        <input type="file" name="file" id="roster">
      </div>
      <div class="modal-footer">
        <div id="modal-alert"></div>
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="upload-course" type="button" class="btn btn-success">Upload</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>

<script>
  $('#part3').hide();

  $('.new_exam').on('click', function() {
    $("#modal-alert").empty();
  });

  $('.prof_select').on('click', function() {
    $(this).children("h2").css('font-weight', 'bold');
    $(this).siblings('').children("h2").css('font-weight', 'normal');
  });

  $("#select_2").on('click', function() {
	  $("#part2").hide();
	  $("#part3").show();
	  var user = $("meta[name='user_id']").attr("content");
	  visualizeScores(true, user);
  });

  $("#select_1").on('click', function() {
	  $("#part3").hide();
	  $("#part2").show();
	  // visualizeRoster();
  });

  getExamList(true);

  $('body').on('click', '.course.unselected', function() {
    getCourseList($(this).text());
    $("meta[name='course_id']").attr("content", $(this).text());
    visualizeScores(true, "professor");
    visualizeRoster();
    getExamList(true);
  });
</script>

  </body>
</html>
