<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      
    <script src="upload.js"></script>
    

    <script src="http://d3js.org/d3.v3.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="student_styles.css">


    <title>Professor Dashboard</title>
  </head>
  <body>

    <div class="container" id="wrapper">
    <div class="row" id="header_top">
      <img src="images/bloom_logo.png" alt="">
    </div>
    <div class="row" id="navbar">
      <div id="user_banner">
        <div id="user_settings">
        Hi, Monica
        </div>
      </div>
    <div class="row" id="content_body">
      <div class="col-md-2" id="courses">
        <h2>COURSES</h2>
        <div class="curr course">
        <p>CSCI1230</p>
        </div>
        <div class="new_exam">
          <p>New Course</p>
        </div>
        <div id="exam_container">
        <h2>EXAMS</h2>
        <div class="new_exam" data-toggle="modal" data-target="#myModal">
          <p>New Exam</p>
        </div>
        </div>
      </div>
      <div class="col-md-10" id="main">
        <div id="main_content">
        <div id="part1">
        <h1>CSCI1230: Creating Modern Web Apps</h1>
        <div id="prof_selector">
          <div class="prof_select" id="select_1"><h2 class="selected">STUDENTS</h2></div>
          <div class="prof_select" id="select_2"><h2>EXAMS</h2></div>

        </div>
        <hr style="color:gray">

        <div class="table-responsive">
          <table class="table-hover">
            <tr>
              <td>Mary Jane</td>
            </tr>
            <tr>
              <td>Mary Jane</td>
            </tr>
            <tr>
              <td>Mary Jane</td>
            </tr>
            <tr>
              <td>Mary Jane</td>
            </tr>
            <tr>
              <td>Mary Jane</td>
            </tr>
          </table>
        </div>
        </div>

        </div>
      </div>
    </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h2 class="modal-title">Add New Exam
        <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></h2>
        
      </div>
      <div class="modal-body">
        <p>1. Enter the Exam Title:</p>
        <input type="text" name="exam" placeholder="e.g. Midterm 1" id="title"><br>
        <p>2. Upload an Excel Sheet in the following format:</p>
        <img src="images/categories.png" alt="">
        <input type="file" name="file" id="categories">
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="upload" type="button" class="btn btn-success">Upload</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
  </body>
</html>